[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scipy = "*"
ipykernel = "*"
matplotlib = "*"
seaborn = "*"
kaggle = "*"
torch = "*"

[requires]
python_version = "3.10"
